# --------------------------------------------------------------------------------------------------
**/Manifest.toml
.DS_Store
tmp
setup_readme.md
**/sandbox.*

assets
# --------------------------------------------------------------------------------------------------


# --------------------------------------------------------------------------------------------------
# doc
docs/build/
docs/node_modules
# --------------------------------------------------------------------------------------------------
