# --------------------------------------------------------------------------------------------------
**/Manifest.toml
.DS_Store
tmp

**/sandbox.*

assets
# --------------------------------------------------------------------------------------------------


# --------------------------------------------------------------------------------------------------
# doc
docs/build/
docs/node_modules
# --------------------------------------------------------------------------------------------------